<!-- <app-lifecycle></app-lifecycle> -->
<!-- <app-hello-life-cycle></app-hello-life-cycle> -->
<!-- <app-hello-life-cycle2></app-hello-life-cycle2> -->
<!-- <app-after-view-father></app-after-view-father> -->
<!-- <app-birthday></app-birthday> -->
<!-- <app-hello-user-list></app-hello-user-list> -->
<!-- <app-hello-http-client></app-hello-http-client> -->
<h1>Angular Router</h1>
<!-- 路由导航 -->
<nav>
  <div>
    <a routerLink="/hello">/hello</a>|
    <a routerLink="/hello/helloeveryone">/helloeveryone</a>|
    <a routerLink="/hello2">/hello2</a>|
    <a routerLink="/routerFunction">/routerFunction</a>|
    <a routerLink="/hello/routerparams/12" routerLinkActive="active">routerparams-12</a>|
  </div>
  <div>
    <a routerLink="/routerparams/12" routerLinkActive="active">routerparams-12</a>|
    <a routerLink="/routerparams/13" routerLinkActive="active">routerparams-13</a>|
  </div>
</nav>
<hr>
<!-- 路由出口 -->
<router-outlet></router-outlet>
