<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- <div class="content" role="main">

    <h1>{{ title }} app is running!</h1>
    <hr>
    <hello-world></hello-world>
</div> -->

<!-- <hello-everyone></hello-everyone> -->
<!-- <app-hello-css></app-hello-css>  -->
<!-- <app-hello-bind></app-hello-bind> -->
<!-- <app-hello-self-event></app-hello-self-event> -->
<!-- <app-hello-two-way></app-hello-two-way> -->
<!-- <app-hello-input-output></app-hello-input-output> -->
<!-- <app-hello-template></app-hello-template> -->
<!-- <app-hello-self-directive appHighlight></app-hello-self-directive> -->
<!-- <app-hello-form></app-hello-form> -->
<!-- <app-hello-formbuilder></app-hello-formbuilder> -->
<!-- <app-hello-father-child></app-hello-father-child> -->
<!-- <app-hello-style></app-hello-style> -->
<!-- <p>外部p标签</p>
<app-hello-style-type></app-hello-style-type> -->
<div class="italic">
    <app-hello-style-selector></app-hello-style-selector>
</div>
<app-hello-style-selector class="active"></app-hello-style-selector>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- <router-outlet></router-outlet> -->