<!-- <p>hello-form works!</p>
<input type="text"
[(ngModel)]="user.name" name="name" required #spy>

<p>名字：{{user.name}} - {{spy.className}}</p> -->

<!-- <input type="text" [(ngModel)]="user.name" required minlength="4" #name="ngModel">
<hr>
<p>valid: {{name.valid}}</p>
<p>invalid: {{name.invalid}}</p>
<p>dirty: {{name.dirty}}</p>
<p>touched: {{name.touched}}</p>
<p>errors: {{name.errors | json}}</p> -->
<!-- <hr>
<form (ngSubmit)="onSubmit()">
  <input type="text"
   [(ngModel)]="user.name" 
   name="name" 
   required 
   minlength="4"
   #name="ngModel">
  <button type="submit" [disabled]="!name.valid">提交</button>
</form> -->

<!-- 
  formGroup: 表单
  formControlName: 输入元素
 -->
<form [formGroup]="myGroup" (ngSubmit)="onSubmit()">
  <input type="text"
    label="用户名"
    name="name"
    formControlName="name">
  <input type="text"
    label="密码"
    name="pwd"
    formControlName="pwd">
  <button type="submit">提交</button>
</form>